services:
  producer:
    extra_hosts: &extra-hosts
      - "host.docker.internal:host-gateway"
    environment: &env-lb
      - CHALLENGE_HARVESTER_URL=http://host.docker.internal:9090/harvest
    healthcheck:
      test: ["CMD-SHELL", "ps aux | grep main.py || exit 1"]
      interval: 60s
      timeout: 10s
      retries: 3

  consumer-xtruyen:
    extra_hosts: *extra-hosts
    environment: *env-lb

  consumer-missing:
    extra_hosts: *extra-hosts
    environment: *env-lb

  enrichment-worker:
    extra_hosts: *extra-hosts
    environment: *env-lb

  sticky-worker:
    extra_hosts: *extra-hosts
    environment: *env-lb
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f 'sticky_crawler_worker' > /dev/null || exit 1"]
      interval: 60s
      timeout: 10s
      retries: 3

  db-sync:
    extra_hosts: *extra-hosts
    environment: *env-lb
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f 'database_sync_worker' > /dev/null || exit 1"]
      interval: 60s
      timeout: 10s
      retries: 3

  telegram-bot:
    extra_hosts: *extra-hosts
    environment: *env-lb
