server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push
    batchwait: 1s
    batchsize: 1048576

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
        filters:
          - name: label
            values: ["com.docker.compose.project=docker"]
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        target_label: container
        regex: '/(.*)'
      - source_labels: ['__meta_docker_container_id']
        target_label: container_id
      - source_labels: ['__meta_docker_container_label_com_docker_compose_service']
        target_label: service
      - source_labels: ['__meta_docker_container_label_com_docker_compose_project']
        target_label: compose_project
      - source_labels: ['__meta_docker_container_log_stream']
        target_label: stream
      - action: labeldrop
        regex: '__meta_docker_container_label_.+'
    pipeline_stages:
      - docker: {}
      - regex:
          expression: '^(?P<timestamp>\d{4}-\d{2}-\d{2} [^ ]+) - (?P<logger>[A-Za-z0-9._-]+) - (?P<level>[A-Z]+) - (?P<msg>.*)$'
      - labels:
          logger:
          level:
